[Unit]
Description=Bitcoin's distributed currency daemon
After=network.target

[Service]
User=varcoin
Group=varcoin

Type=forking
PIDFile=/var/lib/varcoind/varcoind.pid
ExecStart=/usr/bin/varcoind -daemon -pid=/var/lib/varcoind/varcoind.pid \
-conf=/etc/varcoin/varcoin.conf -datadir=/var/lib/varcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
